body {
    margin: 0px;
    padding: 0px;
    background-color:cornflowerblue;
}
a {
    color: #fff;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin-bottom: 2.5rem;
    background-color:darkblue;
    color: #fff;
    font-family: Uni Sans;
}
.sec {
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.hitem{
    padding: 10px 15px;
    font-size:23px;
    margin-left:15px;
    margin-right: 3px;
}
.hitem:hover{
    background-color: blue;
    border-radius:5px;
}
.hlogo{
    font-weight: bold;
}
.hbutton{
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-card {
    background: grey;
    height: 350px;
    text-align: center;
    padding: 7px;
    margin: 12px;
    border-radius: 5%;
    border-color: darkgray;
}
.sec-card{
    background: darkred;
    height: 350px;
    text-align: center;
    padding: 7px;
    margin: 12px;
    border-radius: 5%;
}
.third-card{
    background: rgb(162, 74, 6);
    height: 350px;
    text-align: center;
    padding: 7px;
    margin: 12px;
    border-radius: 5%;
}
.fourth-card{
    background: rgb(173, 158, 0);
    height: 350px;
    text-align: center;
    padding: 7px;
    margin: 12px;
    border-radius: 5%;
}
img {
    margin: 6px;
    width: 220px;
    height: 170px;
    border-bottom-left-radius: 34%;
    border-bottom-right-radius: 34%;
}
.fi-chutai:hover{
    background-color: darkgray;
    border-radius:2px;
}
.sec-chutai:hover{
    background-color: red;
    border-radius:2px;
}
.th-chutai:hover{
    background-color: orange;
    border-radius:2px;
}
.fo-chutai:hover{
    background-color: darkgoldenrod;
    border-radius:2px;
}
.fi-chutai{
    font-size: 20px;
    padding: 6px 8px;
}
.sec-chutai{
    font-size: 20px;
    padding: 6px 8px;
}
.th-chutai{
    font-size: 20px;
    padding: 6px 8px;
}
.fo-chutai{
    font-size: 20px;
    padding: 6px 8px;
}